name: Deploy to Dev

on:
  push:
    branches: [dev]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            set -e
            cd ${{ secrets.DEV_PATH }}
            git config --global --add safe.directory ${{ secrets.DEV_PATH }}
            sudo chown -R $(whoami):$(whoami) .git
            git fetch origin dev
            git reset --hard origin/dev

            docker compose -f docker-compose.dev.yml down
            docker compose -f docker-compose.dev.yml build --no-cache
            docker compose -f docker-compose.dev.yml up -d
            docker image prune -f
